networks:
  expense: {}

volumes:
  mysql:

services:
  mysql:
    image: mangalsingh/mysql:1.0.0
    container_name: mysql
    networks:
      - expense
    volumes:
      - mysql:/var/lib/mysql

  backend:
    image: mangalsingh/backend:1.0.0
    command: sh -c "sleep 5 && node /opt/backend/index.js"
    container_name: backend
    networks:
      - expense
    depends_on:
      - mysql

  frontend:
    image: mangalsingh/frontend:1.0.0
    container_name: frontend
    networks:
      - expense
    ports:
      - "80:80"
    depends_on:
      - backend
